<footer class="text-bg bg-fg px-4 pt-4 pb-6 mt-8">
  <div class="max-w-xl mx-auto">
    <svg
      class="w-full"
      viewBox="0 0 363 228"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="m328.18 3.7574h5.073c2.022 0 3.726 1.5086 3.971 3.5154l17.53 143.63v-143.14c0-2.2091 1.79-4 4-4h0.249c2.209 0 4 1.7909 4 4v212.33c0 2.209-1.791 4-4 4h-1.368c-2.021 0-3.724-1.506-3.97-3.512l-17.236-140.17v139.68c0 2.209-1.79 4-4 4h-32.234c-2.209 0-4-1.791-4-4v-55.803c-0.038 0.55-0.078 1.096-0.118 1.638-1.046 14.028-2.372 25.15-3.979 33.366-1.606 8.217-3.552 14.429-5.84 18.637-2.263 4.108-5.183 6.162-8.76 6.162h-44.484c-2.209 0-4-1.791-4-4v-212.33c0-2.2091 1.791-4 4-4h44.009c4.088 0 7.167 1.9038 9.235 5.7113 2.093 3.7073 4.015 10.02 5.767 18.937 1.753 8.9176 3.127 20.49 4.125 34.718 0.015 0.2167 0.03 0.4342 0.045 0.6525v-56.02c0-2.2091 1.791-4 4-4h27.985zm-23.151 41.274c0-2.2092 1.791-4 4-4h15.151c2.209 0 4 1.7908 4 4v137.94c0 2.209-1.791 4-4 4h-15.151c-2.209 0-4-1.791-4-4v-51.968c0-2.209 1.791-4 4-4h14.047c2.209 0 4-1.791 4-4v-29.124c0-2.2091-1.791-4-4-4h-14.047c-2.209 0-4-1.7909-4-4v-40.846zm-31.343 141.94c-2.209 0-4-1.791-4-4v-137.94c0-2.2092 1.806-4 4.015-4 3.553 0 5.95 0.6513 7.191 1.9538 1.655 1.7034 3.054 5.2604 4.198 10.671 1.168 5.4107 2.02 12.825 2.555 22.244 0.56 9.4186 0.84 22.294 0.84 38.626 0 15.731-0.268 28.406-0.803 38.025-0.536 9.619-1.217 16.683-2.044 21.192-0.803 4.409-1.85 7.715-3.14 9.92-1.265 2.204-3.321 3.306-6.168 3.306h-2.644zm-35.838-141.94c0-2.2092 1.79-4 4-4h15.005c2.209 0 4 1.7908 4 4v137.94c0 2.209-1.791 4-4 4h-15.005c-2.21 0-4-1.791-4-4v-51.968c0-2.209 1.79-4 4-4h14.047c2.209 0 4-1.791 4-4v-29.124c0-2.2091-1.791-4-4-4h-14.047c-2.21 0-4-1.7909-4-4v-40.846z"
        clip-rule="evenodd"
        fill="currentColor"
        fill-rule="evenodd"></path>
      <path
        d="m192.46 7.7574c0-2.2091 1.791-4 4-4h22.078c2.209 0 4 1.7909 4 4v29.274c0 2.2091-1.791 4-4 4h-13.245c-2.209 0-4 1.7908-4 4v44.153c0 2.2092 1.791 4 4 4h10.361c2.209 0 4 1.7909 4 4v29.273c0 2.21-1.791 4.001-4 4.001h-10.361c-2.209 0-4 1.79-4 4v85.634c0 2.209-1.79 4-4 4h-0.833c-2.209 0-4-1.791-4-4v-51.887c-1.032 12.282-2.47 22.995-4.316 32.14-3.675 18.337-8.663 27.505-14.966 27.505-6.351 0-11.364-9.068-15.039-27.204-4.185-20.741-6.278-49.197-6.278-85.368 0-26.252 0.937-47.845 2.811-64.778 1.898-17.034 4.368-29.709 7.41-38.025 3.041-8.3164 6.728-12.475 11.06-12.475 6.278 0 11.388 9.8695 15.331 29.608 1.628 8.1023 3.027 19.541 3.987 30.462v-52.313zm-27.969 163.13c-2.336-12.725-3.505-31.762-3.505-57.112 0-25.852 1.132-44.939 3.395-57.264 2.263-12.324 5.196-18.486 8.797-18.486 3.602 0 6.51 6.112 8.724 18.336 2.239 12.224 3.358 31.111 3.358 56.662 0 26.051-1.143 45.39-3.431 58.015-2.287 12.524-5.171 18.787-8.651 18.787-3.455 0-6.351-6.313-8.687-18.938z"
        clip-rule="evenodd"
        fill="currentColor"
        fill-rule="evenodd"></path>
      <path
        d="m130.91 224.09c-2.21 0-4-1.791-4-4v-175.06c0-2.2092-1.791-4-4-4h-2.31c-2.337 0-4.174 1.9947-4.023 4.3268 0.362 5.5622 0.591 11.606 0.687 18.132 0.028 1.8892-1.283 3.5322-3.128 3.9386l-1.005 0.2214c-2.444 0.5383-4.773-1.2767-4.893-3.776-0.444-9.283-1.219-15.946-2.326-19.988-1.29-4.7093-3.127-7.0639-5.512-7.0639-2.3846 0-4.2218 2.054-5.5116 6.1621-1.2897 4.1081-1.9346 9.2182-1.9346 15.33 0 6.0119 0.584 11.072 1.7521 15.18s3.8571 8.617 8.0671 13.527c4.453 5.3104 7.665 10.922 9.636 16.833 1.996 5.811 3.517 13.376 4.563 22.695 1.047 9.218 1.57 20.44 1.57 33.666 0 19.138-1.436 35.22-4.307 48.245-2.848 13.026-7.313 19.539-13.397 19.539-3.1791 0-5.9418-2.202-8.2877-6.606-1.0292-1.931-5.9566-1.272-5.9566 0.917 0 0.984-0.7977 1.781-1.7818 1.781h-27.581c-2.2092 0-4-1.791-4-4v-125.97l-6.103 126.16c-0.1031 2.131-1.8613 3.806-3.9953 3.806h-1.8134c-2.1266 0-3.8815-1.664-3.9944-3.787l-8.5591-160.94-8.4876 160.94c-0.112 2.124-1.8672 3.789-3.9945 3.789h-1.9911c-2.1353 0-3.894-1.677-3.9955-3.81l-10.096-212.33c-0.10846-2.2812 1.7118-4.19 3.9955-4.19h1.0642c2.1417 0 3.9034 1.6869 3.9962 3.8265l6.4043 147.52 7.8295-147.56c0.1126-2.1238 1.8676-3.7881 3.9943-3.7881h2.9509c2.1314 0 3.8885 1.6713 3.995 3.8001l7.5118 150.1 6.7529-153.9h37.095v30.899c0.1992-1.8746 0.4211-3.7076 0.6658-5.4989 1.3384-9.6189 3.1757-16.883 5.5118-21.793 2.3362-4.9097 5.2199-7.3645 8.6508-7.3645 5.159 0 9.187 5.7614 12.082 17.284 0.276 1.0973 0.54 2.2395 0.791 3.4267 0.046 0.2213 0.386 0.1875 0.386-0.0386v-12.915c0-2.2091 1.791-4 4-4h26.86c2.209 0 4 1.7909 4 4v29.274c0 2.2091-1.791 4-4 4h-4.995c-2.209 0-4 1.7908-4 4v175.06c0 2.209-1.791 4-4 4h-0.833zm-39.12-69.74c-0.1454-2.891-3.1913-4.733-5.7942-3.467l-0.8052 0.392c-1.4079 0.684-2.2879 2.128-2.2443 3.693 0.2866 10.286 0.7788 19.485 1.4767 27.597 0.2029 2.359-1.6451 4.402-4.0123 4.402h-14.346c-2.2091 0-4-1.791-4-4v-51.968c0-2.209 1.7909-4 4-4h14.047c2.2092 0 4-1.791 4-4v-29.124c0-2.2091-1.7908-4-4-4h-14.047c-2.2091 0-4-1.7909-4-4v-40.846c0-2.2092 1.7909-4 4-4h14.835c2.328 0 4.1616 1.9801 4.0286 4.3043-0.2952 5.1587-0.4428 10.587-0.4428 16.286 0 10.32 0.5111 19.99 1.5331 29.007 1.0464 8.9176 2.4456 16.132 4.1977 21.643 1.7521 5.51 4.5141 10.621 8.286 15.33 4.2099 5.31 6.8629 9.118 7.9579 11.422 1.095 2.205 1.91 5.06 2.445 8.567 0.536 3.507 0.803 7.766 0.803 12.776 0 8.516-0.766 15.68-2.299 21.492-1.533 5.711-3.638 8.567-6.315 8.567-4.9931 0-8.0944-12.025-9.3043-36.074z"
        clip-rule="evenodd"
        fill="currentColor"
        fill-rule="evenodd"></path>
    </svg>
    <div class="flex justify-between text-sm pt-4">
      <p>Copyright 2024 Expressions*</p>
      <p>
        Website by <a href="https://artsandcrafts.work">studio arts+crafts</a>
      </p>
    </div>
  </div>
</footer>
<style lang="postcss">
    a {
        @apply underline hover:text-fg hover:bg-bg;
    }
   
</style>
