---
interface Props {
  href: string;
  class?: string;
  newWindow?: boolean;
}

const { href, class: className, newWindow = true } = Astro.props;

const target = newWindow ? "_blank" : "_self";
const link = href;
---

<a href={link} target={target} rel="noopener noreferrer" class=`${className}`>
  <slot />
</a>

<style></style>
